<h1 class="text-white">Editing Game</h1>

<%= render 'form', game: @game %>

<%= link_to 'Show', @game, class: "btn text-white", style: "background-color: #0074e6;"%> |

    <%= link_to 'Back', games_path, class: "btn btn-danger text-white" %>
</div>
