<!-- Bar at top of page -->
<nav class="navbar navbar-expand-lg" style="background-color: #7825aa; padding-left: 20px;">

  <!-- Website Name that is also a button -->
  <a class="navbar-brand" style="color: #FFFFFF" href="http://localhost:3000/games">My Game List</a>

</nav>

<br>
<h1 class="text-white">New Game</h1>

<%= render 'form', game: @game %>

<%= link_to 'Back', games_path, class: "btn btn-danger text-white" %>
